# Discord
DISCORD_APPLICATION_ID=your_app_id
DISCORD_PUBLIC_KEY=your_public_key
DISCORD_TOKEN=your_bot_token

# Telegram
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_ADMIN_USER_ID=YOUR_TELEGRAM_ADMIN_USER_ID
TELEGRAM_COMMAND_PREFIX=trent

# GITHUB API TOKEN
GITHUB_API_TOKEN=your_github_token

# GEMINI API KEY
GEMINI_API_KEY=your_gemini_key
GEMINI_MODEL=gemini-2.5-flash

# Database (Optional overrides, defaults provided in docker-compose)
# DATABASE_URL="postgresql://postgres:password@localhost:5432/trendtaste"
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=password
# POSTGRES_DB=trendtaste