# Discord
DISCORD_APPLICATION_ID=YOUR_DISCORD_APP_ID
DISCORD_PUBLIC_KEY=YOUR_DISCORD_PUBLIC_KEY
DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN

# Telegram
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_ADMIN_USER_ID=YOUR_TELEGRAM_ADMIN_USER_ID
TELEGRAM_COMMAND_PREFIX=trent
# GITHUB API TOKEN
GITHUB_API_TOKEN=YOUR_GITHUB_API_TOKEN

# GEMINI API KEY
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
GEMINI_MODEL=gemma-3-12b-it

# Database (Optional overrides, defaults provided in docker-compose)
# DATABASE_URL="postgresql://postgres:password@localhost:5432/trendtaste"
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=password
# POSTGRES_DB=trendtaste